@use "sass:color";

.section-hero {
  background: $green-color-light;

  .container {
    flex-direction: column;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;

    nav {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 5px 0;

      .logo {
        padding: 10px 0;
        text-transform: capitalize;
        @include typography-1(20, 700);
        @include zoom();
        span {
          text-transform: uppercase;
          @include typography-1(20, 700, $orange-color);
        }
      }

      .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        li {
          a {
            @include typography-1(16, 500);
            text-transform: capitalize;
            min-width: 48px;
            min-height: 48px;
            display: flex;
            align-items: center;
            &:visited {
              color: color.scale($black-color, $lightness: 20%);
            }
          }

          .dropbtn:hover,
          .about:hover,
          .contact:hover {
            color: $green-color !important;
          }

          a.register {
            color: $white-color;
            &:visited {
              color: $white-color;
            }
          }

          &:nth-child(n + 2):nth-child(-n + 5) {
            margin-left: 30px;
          }

          .overlay {
            display: none;
            height: 0;
            width: 100%;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;

            .closebtn {
              position: absolute;
              top: 20px;
              right: 45px;
              font-size: 60px;
              cursor: pointer;
              color: $white-color;
            }

            a {
              padding: 8px;
              text-decoration: none;
              font-size: 36px;
              color: $green-color-light;
              display: block;
              transition: 0.3s;

              &:hover,
              &:focus {
                color: rgb(32, 177, 90, 0.5);
              }
            }

            .overlay-content {
              position: relative;
              top: 25%;
              width: 100%;
              text-align: center;
              margin-top: 30px;
            }
          }

          .icon-menu-hamburguer {
            cursor: pointer !important;
          }

          @media screen and (max-height: 450px) {
            .overlay a {
              font-size: 20px;
            }
            .overlay .closebtn {
              font-size: 40px;
              top: 15px;
              right: 35px;
            }
          }

          .bi-list {
            display: none;
            font-size: em(40);
            color: $green-color;
            cursor: pointer;
            &:hover {
              color: rgb(32, 177, 90, 0.7);
            }
          }
        }

        li.dropdown {
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            border-radius: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
              float: none;
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
              &:hover {
                background-color: #ffdcca;
                color: black;
              }
            }
          }
          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }

  .banner-hero {
    display: flex;
    flex-wrap: wrap;

    .text-hero {
      flex: 2 1 300px;
      margin-bottom: 37px;
      h1 {
        line-height: 1.4;
        font-weight: bold;
        font-size: em(50);
        color: $black-color;
        margin-bottom: 10px;
      }
      p {
        font-weight: 500;
        font-size: em(20);
        margin-bottom: 37px;
      }
      button {
        padding: 20px 30px;
        font-size: em(20);
      }
    }

    img {
      flex: 1 1 160px;
      object-fit: fill;
    }
  }

  .tools {
    background: $green-color-extra-light;
    top: 0;

    .container-tools {
      max-width: 1222px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 44px 0 47px 0;

      img {
        @include zoom();
      }

      img:not(:nth-child(5)) {
        margin-right: 150px;
      }

      .tools-item__google {
        width: 88.71px;
        height: 29.11px;
      }

      .tools-item__trello {
        width: 141.94px;
        height: 29.11px;
      }

      .tools-item__monday {
        width: 156.88px;
        height: 29.11px;
      }

      .tools-item__notion {
        width: 80.11px;
        height: 29.11px;
      }

      .tools-item__slack {
        width: 114.29px;
        height: 29.11px;
      }
    }

    .divider-tools {
      background-color: $green-color-light;
      height: 34px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    margin-bottom: 10px !important;
    .logo {
      padding: 10px 0 !important;
      margin: 0 !important;
    }
    .menu {
      li {
        &:nth-child(n + 2):nth-child(-n + 5) {
          margin-left: 10px !important;
        }
      }
    }
  }
  .container-tools {
    flex-direction: column;
    align-items: center;
    img:not(:nth-child(5)) {
      margin-right: 0 !important;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container-tools {
    img:not(:nth-child(5)) {
      margin-right: 100px !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container-tools {
    img:not(:nth-child(5)) {
      margin-right: 50px !important;
    }
  }
}

@include device(sm) {
  .section-hero header nav .menu li {
    &:not(:last-child) {
      display: none;
    }
    .bi-list {
      display: block;
    }
  }
  .container-tools {
    flex-direction: column;
    align-items: center;
    img:not(:nth-child(5)) {
      margin-right: 0 !important;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 425px) {
  .section-hero .banner-hero .text-hero {
    h1 {
      font-size: 2.125em;
    }
    p {
      font-size: 1em;
    }
    button {
      padding: 15px 20px;
      font-size: 1em;
    }
  }
}
