.section-numbers {
  display: flex;
  padding: 80.5px 151px;
  background: $green-color-extra-light;
  .numbers {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    figure {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      img {
        align-self: center;
        margin-bottom: 10px;
        @include zoom();
      }
      figcaption {
        font-size: 1em;
        font-weight: 500;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    span {
      color: $green-color;
      font-weight: 600;
      font-size: 2em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-numbers {
    padding: 80.5px 0;
  }
}

@media screen and (max-width: 768px) {
  .section-numbers {
    .numbers {
      &:last-child {
        border-right: none;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .section-numbers {
    .numbers {
      border-right: none;
    }
  }
}
