.section-portfolio {
  background: $white-color;
  .container {
    padding: 67px 0;
    header {
      margin-bottom: 73px;
      h1 {
        font-size: 1.25em;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $green-color;
      }
      h2 {
        font-weight: 600;
        font-size: 1.875em;
        color: $black-color;
      }
    }
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      .portfolio-column-1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 95px;
        .portfolio-item:nth-child(1) {
          max-width: 561px;
          max-height: 496.36px;
          margin-bottom: 98.64px;
        }
        .portfolio-item:nth-child(2) {
          max-width: 561px;
          max-height: 677.02px;
        }
      }
      .portfolio-column-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .portfolio-item:nth-child(1) {
          max-width: 561px;
          max-height: 675.07px;
          margin-bottom: 95.93px;
        }

        .portfolio-item:nth-child(2) {
          max-width: 561px;
          max-height: 504.52px;
        }
      }
      .portfolio-item {
        color: $black-color;
        h3 {
          font-size: 1.25em;
          font-weight: 600;
          margin-bottom: 14.26px;
        }
        p {
          font-size: 1.125em;
          font-weight: 400;
        }
        img {
          margin-bottom: 42.79px;
          @include zoom();
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-portfolio .container {
    padding: 67px 15px;
  }
}

@media screen and (max-width: 768px) {
  .section-portfolio .container .portfolio .portfolio-column-1 {
    margin-right: 0;
    flex: 1 1 500px;
    margin-bottom: 98.64px;
  }
  .section-portfolio .container .portfolio .portfolio-column-2 {
    flex: 1 1 500px;
  }
}
