.section-services {
  background: $white-color;
  .container {
    flex-direction: column;
    padding-top: 67px;
    padding-bottom: 67px;
    header {
      position: relative;
      margin-bottom: 40px;
      h1 {
        font-size: 1.25em;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $green-color;
      }
      h2 {
        max-width: 495px;
        max-height: 90px;
        font-weight: 600;
        font-size: 1.875em;
        color: $black-color;
      }
    }
    .services {
      display: flex;
      flex-wrap: wrap;
      gap: 45px;
      .services-card {
        flex: 1 1 280px;
        padding: 50px 30px;
        transition: border-radius 0.4s ease, box-shadow 0.4s ease;
        &:hover {
          border-radius: 30px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          .learn-more a {
            color: $white-color;
            background: $orange-color;
            border-radius: 10px;
            transition: background 0.4s ease, color 0.4s ease;
          }
        }
        .services-icon {
          padding: 30px;
          background: $green-color-light;
          border-radius: 20px;
          margin-bottom: 15px;
          max-width: 93px;
          max-height: 93px;
          img {
            @include zoom(1.2);
          }
        }
        h3 {
          font-weight: 600;
          font-size: 1.5em;
          margin-bottom: 15px;
          color: 000000;
        }
        p {
          font-size: 1.125em;
          font-weight: 400;
          margin-bottom: 43px;
          color: 000000;
        }
        .learn-more {
          a {
            color: $black-color;
            padding: 15px 20px;
            text-transform: capitalize;
            color: $black-color;
            @include zoom();
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-services .container {
    padding: 67px 15px 67px 15px;
  }
}

@include device(sm) {
  .section-services {
    .container {
      header {
        margin-bottom: 70px !important;
      }
    }
  }
}
