.section-testimonial {
  background: $white-color;
  padding: 122px 0 300px 0;
  overflow: hidden;
  position: relative;
  .container {
    flex-direction: column;
    padding: 67px 0;
    header {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 46px;
      h1 {
        font-size: 1.25em;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $green-color;
      }
      h2 {
        font-weight: 600;
        font-size: 1.875em;
        color: $black-color;
      }
      .slider-control {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .return,
        .advance {
          max-width: 80px;
          max-height: 80px;
          border-radius: 50%;
          padding: 20px 30px;
          display: flex;
          img {
            align-self: center;
            max-width: 15px;
            max-height: 25px;
          }
        }
        .return {
          background: transparent;
          border: 1px solid $black-color;
          margin-right: 21px;
        }
        .advance {
          border: 1px solid $green-color-light;
          background-color: $green-color-light;
        }
      }
    }
  }
  .testimonial {
    position: absolute;
    right: 0;
    left: 124px;
    top: 400px;
    overflow-y: hidden;
    display: flex;
    max-width: 1316px;
    padding: 0 0 10px 5px;
    margin: 0 auto;
    .testimonial-card {
      padding: 40px;
      margin-bottom: 10px;
      min-width: 470px;
      min-height: 260px;
      border-radius: 0 0 20px 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-right: 45px;
      p {
        font-size: 1.125em;
        margin-bottom: 20px;
      }
      .avatar {
        display: flex;
        img {
          border-radius: 50%;
          box-shadow: 0 4px 14px rgba(36, 39, 41, 0.1);
          margin-right: 10px;
        }
        h3 {
          font-size: 1.25em;
          font-weight: 600;
          color: $black-color;
        }
        p {
          font-size: 1.125em;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-testimonial .container {
    padding: 67px 15px;
  }
}

@media screen and (max-width: 1440px) {
  .section-testimonial .testimonial {
    left: 15px;
  }
}

@include device(sm) {
  .section-testimonial .container header .slider-control {
    display: none;
  }
}
