.section-subscribe {
  background: #ffffff;
  padding: 91px 0 137px 0;
  .container {
    flex-direction: column;
    text-align: center;
    h1 {
      font-size: 1.25em;
      font-weight: 500;
      margin-bottom: 21px;
      color: #20b15a;
    }
    h2 {
      font-size: 1.875em;
      font-weight: 600;
      margin-bottom: 5px;
      color: #000000;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 40px;
      text-transform: capitalize;
      color: #8b8b8b;
    }
    .input-container {
      position: relative;
      display: flex;
      justify-content: center;
    }
    input {
      border-radius: 14px;
      border: 1px solid #000000;
      padding: 20px 16px;
      color: #8b8b8b;
      width: 100%;
    }
    button {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      padding: 8.11px 24.32px;
      color: #ffffff;
      background: #f55f1d;
      border-radius: 14px;
      border: 1px solid #f55f1d;
      font-weight: 500;
      min-height: 52.7px;
      min-width: 130.65px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-subscribe .input-container {
    padding: 0 35px;
    button {
      right: 40px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-subscribe .input-container {
    padding: 0 170px;
    button {
      right: 175px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-subscribe .input-container {
    padding: 0 250px;
    button {
      right: 255px;
    }
  }
}
